
@{
  ViewData["Title"] = "Available Catalogs";
}

<h3>Catalog Here</h3>

<div id="catalog">

  <div class="item">

  </div>

</div>

@section Styles {
  <link rel="stylesheet" href="/css/catalog.css">
}

@section Scripts {
  <script src="/js/catalog.js"></script>
}